/* Fons general */
body {
    margin: 0;
    background-color: #1e1e1e; /* gris fosc */
}

/* Logo fix a dalt esquerra */
.logo {
    position: fixed;   /* clau: es queda fix */
    top: 10px;         /* separació de dalt */
    left: 10px;        /* separació de l'esquerra */
    width: 150px;      /* mida del logo */
    height: auto;
}

/* Hover (només per Genshin ja que és clicable) */
.game-tab.genshin a:hover {
    transform: scale(1.05);
    background-color: #eeeeee;
}
